
/*  Global
================================================= */
* {
    padding: 0;
    margin: 0;
}

/*  Typography
================================================= */
h1, h2, h3, p, li {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
    color: hsla(90, 50%, 20%, 1);
}

li a {
    color: hsla(90, 50%, 20%, 1);
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
}
li a:hover {
    color: hsla(90, 50%, 20%, 0.75);
    text-decoration: underline;
}

#heading {
    background-color: hsla(90, 50%, 20%, 1);
    color: white;
}

#heading h1 {
    color: hsla(90, 50%, 90%, 1);
}

.center-text {
    text-align: center;
    margin: 0 auto;
}

/*  Structure
================================================= */
.container {
    display: flex;
    max-width: 97vw;
    padding: 20px;
    flex-wrap: wrap;
    margin: 0 auto;
}

.block {
    margin: 10px;
    padding: 20px;
    border: 2px solid green;
    background-color: hsla(90, 50%, 80%, 1);
    border-radius: 20px;
}

#header {
    width: 100%;
    align-items: center;
    justify-content: center;
}

#product-wrap {
    flex-wrap: wrap;
    justify-content: center;
}

/*  Components
================================================= */
.btn {
    border: 2px solid hsla(90, 50%, 20%, 1);
    color: hsla(90, 50%, 20%, 1);
    background-color: white;
    border-radius: 10px;
    padding: 15px;

    cursor: pointer;
    box-shadow: 5px 5px hsla(90, 50%, 20%, 0.5);
}
.btn:hover {
    border: 2px solid hsla(90, 50%, 20%, 0.5);
    color: white;
    background-color: hsla(90, 50%, 20%, 1);
}

#email {
    padding: 15px;
    border-radius: 10px;
    width: 300px;
    margin: 10px;

    border: 2px solid black;
}
#email:hover {
    border: 2px solid hsla(90, 50%, 20%, 0.75);
}
#email:active {
    border: 2px solid hsla(90, 50%, 20%, 0.5);
}

/*  Layout
================================================= */
header {
    background-color: hsla(90, 50%, 80%, 1);
    height: 100px;
    position: sticky;
}

footer {
    background-color: hsla(270, 50%, 80%, 1);
}

header .container {
    width: 25vw;
    margin: 5px;
}

.container .header-list {
    text-align: center;
    justify-content: space-around;
}
.header-list li {
    display: inline-flex;
    margin: 0 auto;
    justify-content: space-between;
    width: 30%;
    align-items: center;
}
   
.header-logo h2 {
    align-items: center;
    height: 100%;
    margin: 0 auto;
}
.row-reverse li {
    justify-content: flex-end;
}
.container h1 {
    margin: 0 auto;
}

img {
    border-radius: 20px;
    width: 100%;
}
.block img {
    max-width: 800px;
}

.third {
    width: 25vw;
}

#new-release-background {
    background-image: url('images/placeholder.webp');
    height: 200px;
}
#new-release {
    margin: 0 auto;
    text-align: center;
}

#newsletter {
    text-align: center;
}